
    <a class="dropdown dropdown-toggle" id="userTopMenu" data-toggle="dropdown" href="#">
        <span class = "glyphicon glyphicon-user"></span>
    </a>
    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel" id="userDropDown">
        <li role="presentation"><a href="#" "menuitem" tabindex="-1" data-toggle="modal" data-target="#addressModal">Gérer vos adresses</a></li>
        <li role="presentation"><a href="#" "menuitem" tabindex="-1" data-toggle="modal" data-target="#askPwdModal">Changer le mot de passe</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><a href="#" "menuitem" tabindex="-1" onclick="javascript:clearCookies()">D&eacute;connexion</a></li>
    </ul>



